<h1>Listing challenge_steps</h1>

<table>
  <thead>
    <tr>
      <th>Challenge</th>
      <th>Question</th>
      <th>Answerer</th>
      <th>Chosen answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenge_steps.each do |challenge_step| %>
      <tr>
        <td><%= challenge_step.challenge %></td>
        <td><%= challenge_step.question %></td>
        <td><%= challenge_step.answerer %></td>
        <td><%= challenge_step.chosen_answer %></td>
        <td><%= link_to 'Show', challenge_step %></td>
        <td><%= link_to 'Edit', edit_challenge_step_path(challenge_step) %></td>
        <td><%= link_to 'Destroy', challenge_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge step', new_challenge_step_path %>
