<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="field">
    <%= f.label :query, "Question" %><br />
    <%= f.text_area :query, placeholder: 'Entrez votre question' %><br />
  </div>

  <div class="field">
    <%= f.label :difficulty, "Difficulté de cette question (Facile: 1 / Difficile: 3)" %><br>
    <%= f.number_field :difficulty, in: 1...4 %>
  </div>

  <div class="field">
    <%= f.label :explanation, "Entrez une explication qui apparaîtra à la fin du Quiz" %><br>
    <%= f.text_area :explanation %>
  </div>

  <div class="field">
    <%= f.label :source_url, "Donnez un lien vers la source de votre information" %><br>
    <%= f.text_field :source_url %>
  </div>
  
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Effacer la question" %>
  
  <%= f.fields_for :answer do |builder| %>
    <%= render 'answer_set_fields', f: builder %>
  <% end %>
</fieldset>

  <h3>Section</h3>
  <div class="field">
    <%= f.fields_for :section, @section do |c| %>
      <%= c.label :name, "Titre de la catégorie" %>
      <%= c.text_area :name %>
      <%= c.label :description, "Description" %>
      <%= c.text_area :description %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>