<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Réponses</th>
      <th>Réponse correcte</th>
      <th>Explication</th>
      <th>URL source</th>
      <th>Difficulté</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.query %></td>
        <td>
          <% if question.answer != nil %>
            <p><%= question.answer.answertwo %></p>
            <p><%= question.answer.answerthree %></p>
            <p><%= question.answer.goodanswer %></p>
          <% else %>
            <p>No answers entered</p>
          <% end %>
        </td>
        <td>
          <% if question.answer != nil %>
           <%= question.answer.goodanswer %>
          <% else %>
            <p>No good answer entered</p>
          <% end %>
        </td>
        <td><%= question.explanation %></td>
        <td><%= question.source_url %></td>
        <td><%= question.difficulty %></td>
        <td><%= link_to 'Voir', question %></td>
        <td><%= link_to 'Editer', edit_question_path(question) %></td>
        <td><%= link_to 'Supprimer', question, method: :delete, data: { confirm: 'Vous êtes sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle question', new_question_path %>