<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :truefalse %><br>
    <%= f.check_box :truefalse %>
  </div>
  <div class="field">
    <%= f.label :single %><br>
    <%= f.text_field :single %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :multiplechoice %><br>
    <%= f.text_area :multiplechoice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
