<p id="notice"><%= notice %></p>

<p>
  <strong>Truefalse:</strong>
  <%= @answer.truefalse %>
</p>

<p>
  <strong>Single:</strong>
  <%= @answer.single %>
</p>

<p>
  <strong>Number:</strong>
  <%= @answer.number %>
</p>

<p>
  <strong>Multiplechoice:</strong>
  <%= @answer.multiplechoice %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
